{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}



{% block title %}
    <font color="#FFFF00">
    Demographic Survey
{% endblock %}

{% block content %}
    <body style="background-color:#0000FF;">
    <font color="#FFFF00">

    <p>
    Please fill in the following survey:
    </p>

    {% formfield player.age %}

    {% formfield player.field_of_study %}

    {% formfield player.likes_experiment %}

    {% formfield player.female %}

    {% formfield player.height %}

    {% formfield player.weight %}

    <p>
    {% next_button %}
    </p>

{% endblock %}


