{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    <font color="#FFFF00">
    Instructions
{% endblock %}

{% block content %}
    <body style="background-color:#0000FF;">
    <font color="#FFFF00">

    Here come the instructions.

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    {% next_button %}

{% endblock %}
